In [1]:
import pandas as pd

In [8]:
adf = pd.read_csv("./aspect_lexicon-3.0.csv")
odf = pd.read_csv("./opinion_lexicon.csv")
adf.shape[0]

33195

In [6]:
odf

     Word  Valence_Mean
0      下飯           6.8
1      推推           7.0
2      中等           5.0
3      一般           4.8
4       柴           4.2
...   ...           ...
5562   黏膩           2.7
5563   艷麗           5.8
5564   豔麗           5.8
5565   苗條           6.7
5566   修長           7.0

[5567 rows x 2 columns]

In [21]:
indexls = []

for i in adf['Word']:
    for j in odf['Word']:
        if i == j:
            print(i, adf.index[adf['Word'] == j][0])
            indexls.append(adf.index[adf['Word'] == j][0])

黃金 105
地獄 170
酸甜 184
繽紛 276
活力 350
歡喜 351
清爽 405
鮮美 425
萬能 461
微醺 527
鮮嫩 594
輕鬆 616
滑嫩 667
精進 852
入味 856
酥脆 943
鬆軟 965
美味 979
吉利 990
福氣 1302
感冒 1439
簡易 1657
疙瘩 1745
精力 1827
天使 1852
奇異 1870
碎片 2380
滋養 2522
陽光 2580
戀戀 2674
古典 2756
豪華 2791
火紅 2831
健康 2834
天堂 2859
清涼 2929
香甜 3028
美人 3076
營養 3411
便利 3476
心心相印 3496
熱情 3500
熱力 3535
情人 3563
澄清 3570
愛心 3577
多汁 3637
思念 3708
驚奇 3714
甜心 4213
爆炸 4396
技巧 4439
真愛 4444
溫馨 4478
新鮮 4481
轟炸 4534
魔鬼 4572
鍾愛 4584
熱戀 4607
長壽 4802
粉嫩 4925
傻瓜 5030
鯊魚 5035
圓滿 5066
發財 5422
好事 5423
道地 5595
正統 5660
無敵 6005
吉祥 6111
嘟嘟 6364
平安 6366
火爆 6379
聰明 7033
如意 7128
戀人 7347
漂亮 7359
甘醇 7373
貴族 7516
安全 7644
臉紅 7929
紅潤 8004
有理 8137
風暴 8296
懷念 8323
清澈 8452
一般 8517
奇妙 8547
得意 8556
橫行 8717
霸道 8718
甘甜 8959
氣炸 9048
獨享 9082
懶人 9113
豬母 9132
鮮甜 9230
可口 9249
特色 9368
發燒 9376
清脆 9501
橫行霸道 29028
衛生 31703
烈酒 32045
油 33151

In [22]:
len(indexls)

105

In [23]:
import numpy as np

for i in indexls:
    adf.iloc[i]['Word'] = np.nan

adf

        Word type       source
0         時蔬   WS      楊桃美食網WS
1         花枝   WS      楊桃美食網WS
2         日式   WS      楊桃美食網WS
3        涼麵醬   WS      楊桃美食網WS
4         乳酪   WS      楊桃美食網WS
...      ...  ...          ...
33190    雞翅中  NaN  CookBook-KG
33191    雞翅根  NaN  CookBook-KG
33192  麻辣水煮肉  NaN  CookBook-KG
33193  麻辣水煮魚  NaN  CookBook-KG
33194     黃椒  NaN  CookBook-KG

[33195 rows x 3 columns]

In [25]:
adf = adf.dropna(subset=['Word'])
adf

        Word type       source
0         時蔬   WS      楊桃美食網WS
1         花枝   WS      楊桃美食網WS
2         日式   WS      楊桃美食網WS
3        涼麵醬   WS      楊桃美食網WS
4         乳酪   WS      楊桃美食網WS
...      ...  ...          ...
33190    雞翅中  NaN  CookBook-KG
33191    雞翅根  NaN  CookBook-KG
33192  麻辣水煮肉  NaN  CookBook-KG
33193  麻辣水煮魚  NaN  CookBook-KG
33194     黃椒  NaN  CookBook-KG

[33090 rows x 3 columns]

In [26]:
adf.to_csv('../lexicons/aspect_lexicon-4.0.csv')